.createprofile {
    -fx-padding: 10;
    -fx-alignment: top-left;
    -fx-spacing: 10;
    -fx-background-color: rgb(50, 50, 50);
    -fx-border-width: 3;
    -fx-border-color: #272727;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-max-width: 300;
    -fx-max-height: 150;
}
.createprofile .popup-title {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.createprofile .create-button {
    -fx-min-width: 60;
    -fx-min-height: 30;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.createprofile .create-button:hover {
    -fx-background-color: #dfdfdf;
}

.createprofile .close-button {
    -fx-min-width: 60;
    -fx-min-height: 30;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-radius: 15;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.createprofile .close-button:hover {
    -fx-background-color: #535353;
}

.createprofile .response-label {
    -fx-text-fill: #bc0000;
    -fx-font-size: 14;
}