.default-popup {
    -fx-padding: 10;
    -fx-alignment: top-left;
    -fx-spacing: 10;
    -fx-background-color: rgb(50, 50, 50);
    -fx-border-width: 3;
    -fx-border-color: #272727;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-max-width: 300;
    -fx-max-height: 150;
}
.default-popup .popup-title {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.default-popup .create-button {
    -fx-min-width: 60;
    -fx-min-height: 30;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.default-popup .create-button:hover {
    -fx-background-color: #dfdfdf;
}

.default-popup .close-button {
    -fx-min-width: 60;
    -fx-min-height: 30;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-radius: 15;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.default-popup .close-button:hover {
    -fx-background-color: #535353;
}

.default-popup .response-label {
    -fx-text-fill: #bc0000;
    -fx-font-size: 14;
}

.default-popup .side-text {
    -fx-text-fill: white;
    -fx-font-size: 14;
}

.default-popup .combo-box {
    -fx-background-color: #474747;
    -fx-border-color: #232323;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 2;
    -fx-cursor: hand;
}
.default-popup .combo-box .list-cell {
    -fx-text-fill: white;
    -fx-background-color: #474747;
    -fx-cursor: hand;
}
.default-popup .combo-box .list-cell:hover {
    -fx-background-color: #5a5a5a;
}
.default-popup .combo-box .list-cell:selected {
    -fx-font-weight: bold;
}

.default-popup .date-picker {
    -fx-background-color: #474747;
    -fx-border-color: #292929;
    -fx-border-radius: 5;
}

.default-popup .date-picker .text-field {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.default-popup .date-picker .button {
    -fx-background-color: #494949;
    -fx-background-radius: 5;
    -fx-alignment: center;
}
.default-popup .date-picker .button:hover {
    -fx-background-color: #62755d;
}

.default-popup .date-picker-popup .month-year-pane {
    -fx-background-color: #2e2e2e;
}

.default-popup .date-picker-popup .day-cell:selected {
    -fx-background-color: #68a368;
}

.default-popup .spinner {
    -fx-background-color: #474747;
    -fx-border-color: #292929;
    -fx-border-radius: 5;
}

.default-popup .spinner .text-field {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.default-popup .spinner .increment-arrow-button, .spinner .decrement-arrow-button {
    -fx-background-color: rgba(85, 85, 85, 0.5);
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.default-popup .spinner .increment-arrow-button:pressed, .spinner .decrement-arrow-button:pressed {
    -fx-background-color: rgba(85, 85, 85, 0.7);
}

.toggle-switch {
    -fx-cursor: hand;
}
.toggle-switch .thumb-area {
    -fx-background-color: #48aa4e;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: transparent;
}
.toggle-switch:selected .thumb-area {
    -fx-background-color: #aa2c2c;
}
.toggle-switch .thumb {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 3, 0, 0, 1);
}
.toggle-switch .label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}