.root {
    -fx-background-color: #1b1b1b;
}
.root .app-title {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}

.root .tile-pane {
    -fx-padding: 20;
    -fx-hgap: 15;
    -fx-vgap: 15;
    -fx-alignment: center;
    -fx-tile-alignment: center;
    -fx-background-color: #1b1b1b;
    -fx-background-radius: 5;
}

.root .tile-pane .label {
    -fx-text-fill: white;
}

/* Zbavíme ScrollPane výchozího šedého rámečku a pozadí */
.scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track,
.scroll-bar:horizontal .track {
    -fx-background-color: #303030;
    -fx-border-color: transparent;
    -fx-background-radius: 8px;
}
.scroll-bar:vertical,
.scroll-bar:horizontal {
    -fx-background-color: transparent;
}
.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-color: #4CAF50;
    -fx-background-radius: 8px;
}
.scroll-bar:vertical .thumb:hover,
.scroll-bar:horizontal .thumb:hover {
    -fx-background-color: #388E3C;
}
.scroll-bar:vertical .thumb:pressed,
.scroll-bar:horizontal .thumb:pressed {
    -fx-background-color: #2E7D32;
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: null;
    -fx-padding: 0;
}