.profile-cell {
    -fx-padding: 5px;
    -fx-alignment: center;
    -fx-background-color: rgba(255, 255, 255, 0.25);
    -fx-border-width: 1px;
    -fx-border-color: rgba(255, 255, 255, 0.4);
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, black , 15, 0.5, 0, 0);
    -fx-min-width: 80;
    -fx-min-height: 100;
}

.profile-cell:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.profile-cell:hover .label {
    -fx-font-weight: bold;
}

.profile-cell .username {
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-font-family: "Inter Semi Bold";
    -fx-cursor: hand;
}
.profile-cell .username:hover {
    -fx-underline: true;
}

.profile-cell .image {
    -fx-cursor: hand;
    -fx-background-image-radius: 5;
    -fx-image-radius: 5;
}

.profile-cell .add {
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-size: 50;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}