.root {
    -fx-background-color: linear-gradient(to top, #081908, #216e30);
}
.root .app-title {
    -fx-text-fill: white;
    -fx-font-family: "Calibri Light";
    -fx-font-weight: bold;
    -fx-font-size: 60px;
}

.root .tile-pane {
    -fx-background-color: transparent;
    -fx-padding: 50, 0, 0, 0;
    -fx-hgap: 15;
    -fx-vgap: 15;
    -fx-alignment: center;
    -fx-tile-alignment: center;
    -fx-background-radius: 5;
}

.root .tile-pane .label {
    -fx-text-fill: white;
}