.scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track,
.scroll-bar:horizontal .track {
    -fx-background-color: #303030;
    -fx-border-color: transparent;
    -fx-background-radius: 8px;
}
.scroll-bar:vertical,
.scroll-bar:horizontal {
    -fx-background-color: transparent;
}
.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-color: #4CAF50;
    -fx-background-radius: 8px;
}
.scroll-bar:vertical .thumb:hover,
.scroll-bar:horizontal .thumb:hover {
    -fx-background-color: #388E3C;
}
.scroll-bar:vertical .thumb:pressed,
.scroll-bar:horizontal .thumb:pressed {
    -fx-background-color: #2E7D32;
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: null;
    -fx-padding: 0;
}

.overlay {
    -fx-background-color: rgba(25, 25, 25, 0.3);
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #555555;
    -fx-border-width: 0 0 1.5 0;
    -fx-padding: 3px 5px;
    -fx-font-size: 14px;
    -fx-text-fill: #e1e1e1;
    -fx-prompt-text-fill: #e1e1e1;
}
.text-field:hover {
}
.text-field:focused {
    -fx-border-color: #3b82f6;
}

.context-menu {
    -fx-background-color: #2b2b2b;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #444444;
    -fx-border-width: 1px;
    -fx-padding: 6px 0px 6px 0px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 15, 0, 0, 4);
}
.context-menu .menu-item {
    -fx-padding: 8px 25px 8px 15px;
    -fx-background-color: transparent;
}
.context-menu .menu-item > .label {
    -fx-text-fill: #cccccc;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 13px;
}
.context-menu .menu-item .accelerator-text {
    -fx-text-fill: #888888;
}
.context-menu .menu-item:focused {
    -fx-background-color: #3d82c2;
}
.context-menu .menu-item:focused > .label,
.context-menu .menu-item:focused .accelerator-text {
    -fx-text-fill: #ffffff;
}
.context-menu .separator:horizontal .line {
    -fx-border-color: #444444 transparent transparent transparent;
    -fx-border-insets: 4px 10px 4px 10px;
}
